.modal-overlay {
  font-family: var(--fuente-principal);
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

form label,
form input,
form select {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  font-size: 16px;
}


form {
  background-color: var(--color-blanco);
  border-radius: 12px;
  padding: 28px;
  box-shadow: 0 4px 12px var(--color-sombra);
  max-width: 400px;
  width: 100%;
  z-index: 1000;
}

.Botones{
  background-color: var(--color-primario);
  color: var(--color-blanco);
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: var(--radio-borde);
  width: auto;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.campo {
  margin-bottom: 16px;
}

input{
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: var(--radio-borde);
  margin-bottom: 20px;
}

.modal-contenido {
  background-color: var(--color-blanco);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--color-sombra);
  text-align: center;
}

.modal-imprimir{
  font-family: var(--fuente-principal);
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}