
/* TÍTULO */
.titulo {
  width: 100%;
  text-align: center;
  padding: 5px;
  color: rgba(38, 0, 255, 0.753);
}

/* COLUMNAS DE AULAS */
/* .columna-aulas {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
} */
/* Menú lateral oculto inicialmente */
/* Botón hamburguesa */
.menu-hamburguesa {
  position: fixed;
  top: 90px;
  left: 20px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

/* Menú lateral oculto */
.menu-lateral {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  margin-top: 90px;
  height: 100%;
  background-color: var(--color-fondo);
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Menú visible */
.menu-lateral.activo {
  left: 0;
}

/* BOTÓN DE AULA */
.Aulas_boton {
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  width: 180px;
  text-align: center;

  /* Eliminar estilos visuales */
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  color: inherit; /* Usa el color del texto del contenedor */
}

.Aulas_boton:hover,
.Aulas_boton:focus {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
  outline: none;
}

/* BOTONES DE ACCIÓN */
.general_botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 50px auto 0;
  padding: 0 20px;
}

.Agregar_boton,
.Escanear_boton {
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  padding: 12px 24px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  flex-basis: 48%;
}

.Agregar_boton {
  background-color: #4ed62c;
}

.Escanear_boton {
  background-color: #007bff;
}

.Agregar_boton:hover,
.Escanear_boton:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
  outline: none;
}

/* RESPONSIVE AULAS */
@media (max-width: 600px) {
  .Aulas_conteiner {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .Botones_conteiner {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .Agregar_boton,
  .Escanear_boton {
    width: 100%;
    margin-bottom: 20px;
  }
}
