
/* Estilo general de la tabla */
#tabla-alumnos {
  width: 80%;
  margin-left: 0;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
h1{
  font-size: 30px;
  color: var(--color-primario);
  text-align: center;
  margin-bottom: 20px;
}

/* Encabezado de la tabla */
#tabla-alumnos thead {
  background: none;
  color: black;
}

#tabla-alumnos th {
  padding: 12px;
  text-align: center;
  border-bottom: 2px solid #00336611;
}

/* Filas de datos */
#tabla-alumnos td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

/* Alternancia de colores en filas */
#tabla-alumnos tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tabla-alumnos tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Botón de borrar */
#tabla-alumnos button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

#tabla-alumnos button:hover {
  background-color: #c9302c;
}
.todo {
  display: flex;
  align-items: flex-start;
  gap: 40px; /* Espacio entre tabla y resumen */
}

.tabla-alumnos {
  flex: 1;
}

.resumen-asistencia {
  width: 220px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  
}
button{
  background-color: var(--color-primario);
  color: var(--color-blanco);
  padding: 12px;
  font-size: 15px;
  border: none;
  border-radius: var(--radio-borde);
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
button.buscar {
  width: 70px;
  padding: 4px 8px;
  font-size: 14px;
}





